<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
</head>
<body>
    <div>comment</div>
    <ul id="comments">
    </ul>
    <form onsubmit="return sendMessage()">
        <input type="text" name="userMsg" id="userMsg">
        <input type="submit" value="send" id="send">
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io.connect('http://localhost:8080');
        function sendMessage(){
            const msgInput = document.querySelector("#userMsg");
            console.log(msgInput.value);
            socket.emit("sendMsg",msgInput.value);
            return false;
        }
        fetch('http://localhost:8080/getInfo',{
            headers:{
                Accept: "application / json",
            },
            method:"GET",
        })
        .then(res=>res.json())
        .then(data=>{
            console.log(data.roomid);
        });
    </script>
</body>
</html>