<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
</head>
<body>
    <p>choose your room</p>
    <p>
        <%for (let i = 0; i<data.length; i++){%>
            <form action="/chat/<%=data[i].id%>" method="get">
                <div id="room<%=data[i].id%>" class="room-info"><%=data[i].id%>.<%=data[i].name%></div>
                <input type="submit" value="enter">
            </form>
        <%}%>
    </p>
</body>
</html>