<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <form action="/signup/register" method="post">
        <nav>your name</nav><input type="text" name="name" id="name">
        <nav>nickname</nav><input type="text" name="nickname" id="nickname">
        <nav>id</nav><input type="text" name="id" id="id">
        <nav>password</nav><input type="text" name="pw" id="pw">
        <nav>check password</nav><input type="text" name="check_pw" id="check_pw">
        <input type="submit" value="signup!">
    </form>
</body>
</html>